absl-py==2.4.0
asgiref==3.8.1
astunparse==1.6.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.4.0
cryptography==42.0.5
Django==5.0.4
django-cors-headers==4.3.1
flatbuffers==24.3.25
gast==0.5.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.62.2
gunicorn==21.2.0
h5py==3.11.0
idna==3.7
joblib==1.4.0
keras==3.3.3
libclang==18.1.1
Markdown==3.6
MarkupSafe==2.1.5
ml-dtypes==0.3.2
namex==0.0.8
numpy==1.26.4
oauthlib==3.2.2
opt_einsum==3.3.0
optree==0.11.0
packaging==24.0
pillow==10.3.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydicom==2.4.4
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
sqlparse==0.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow-cpu==2.17.0
termcolor==2.4.0
threadpoolctl==3.5.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.2
wrapt==1.14.1
whitenoise==6.6.0
